.portal{
    width: 1366px;
    height: 764px;
    padding: 0 0 23px;
    background-color: #ffffff;
    
}

.Rectangle{
    width: 1366px;
    height: 71px;
    margin: 0 0 23px;
    padding: 8px 72px 8px 58px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}
.pie-logo{
   
    width: 55px;
    height: 55px;
    margin: 0 1113.2px 0 0;
    object-fit: contain;
}
.client{
    width: 67px;
    height: 28px;
    margin: 23px 1241px 26px 58px;
    font-family: Nexa;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #011627;
}
.title{
    margin-left: 29px;
    width: 1366px;
    
}
.company-name span{
    width: 105px;
    height: 19px;
   
    font-family: Nexa;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #011627;
}


.client-name span{
    width: 81px;
    height: 19px;
    
    font-family: Nexa;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #011627;
}

.email span{
    width: 36px;
    height: 19px;
  
    font-family: Nexa;
    font-size: 14px; 
    font-weight: bold; 
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
     text-align: left;
    color: #011627;
}


.Phone-Number span{
    width: 100px;
    height: 19px;
   
    font-family: Nexa;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left; 
    color: #011627;
}

.action span{
    width: 43px;
    height: 19px;
   margin-left: 10px;
    font-family: Nexa;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #011627;
    
}

.reason span{
    width: 47px;
    height: 19px;
   
    font-family: Nexa;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #011627;
}
.enterprise-name span{
    width: 75px;
    height: 17px;
   
    font-family: Nexa;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #5387b4;
}



.customer-name span{
    width: 74px;
    height: 17px;
  
    font-family: Nexa;
    font-size: 13px;
    font-weight: 300; 
    font-stretch: normal; 
    font-style: normal;  
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #5387b4;
}
.client-email span{
    width: 135px;
    height: 17px;

    font-family: Nexa;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #5387b4;
}
.client-phone span{
    width: 86px;
    height: 17px;
    
    font-family: Nexa;
    font-size: 13px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #5387b4;
  
  }
.box1{
    width: 60px;
    height: 20px;
    margin-left: 10px;
    padding: 5px 15px 9px 9.5px;
    border-radius: 5px;
    border: solid 1px #dbf6c1;
    background-color: #f6ffed;

    
}


.box2{
  width: 70px;
  height: 20px;
  margin-left: 12px;
  padding: 5px 14px 8.7px 12px;
  border-radius: 5px;
  border: solid 1px #e6e6e6;
  background-color: #fff1f0;
  
}
.reject{
    width: 12.8px;
    height: 12.8px;
  
    background-color: #873535;
}
.txt span{
    width: 35px;
    height: 16px;
   
    font-family: Nexa;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    letter-spacing: 0.18px;
    text-align: left;
    color: #873535;
}
.checked{
    width: 11.2px;
    height: 11.2px;

    object-fit: contain;
    background-color: white;
}
.text span{
    width: 39px;
    height: 16px;
   
    font-family: Nexa;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    letter-spacing: 0.18px;
    text-align: left;
    color: #011627;
}
 .client-reason p{
    width: 9px;
    height: 0;
   
    border: solid 1px #314659;
    
}
.flex{
    display: flex;
    flex-direction: row;
}

.icon{
    
   color: #bdc3c7;
  
  }
.box3{
    width: 81px;
   height: 30px;
   margin-left: 10px;
   border-radius: 5px;
   border: solid 1px #e6e6e6;
}
.box3 span{
    width: 49px;
    height: 16px;
    margin: 0 2px 3px 4.5px;
    font-family: Nexa;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.5;
    letter-spacing: 0.18px;
    text-align: center; 
    color: #314659;
}
.texas p{
    width: 205px;
    height: 35px;

    padding: 23.5px 194.5px 11.5px 1.5px;
    font-family: Nexa;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: normal;
    text-align: left;
    color: #5387b4;
}
.texas span{
    font-weight: bold;
    color: black;
    margin-left: 2px;
}
.dis span{
    width: 60px;
    height: 19px;
    margin-left: 40px;
    font-family: Nexa;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal; 
    text-align: left;
    color: #a9acaf;
}

.to {
    width: 16px;
    height: 19px;

    font-family: Nexa;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    text-decoration: underline;
    color: #181f28;
}

.out{
    
    width: 38px;
    margin-left: 14px;

    height: 19px;
  
  
    font-family: Nexa;
  
    font-size: 14px;
  
    font-weight: 300;
  
    font-stretch: normal;
  
    font-style: normal;
  
    line-height: 1.36;

    letter-spacing: normal;
    text-align: left;
    color: #a9acaf;
}
.hun{
    width: 32px;

    height: 19px;
  
    margin-left: 24px;
  
    font-family: Nexa;
  
    font-size: 14px;
  
    font-weight: bold;
  
    font-stretch: normal;
  
    font-style: normal;
  
    line-height: 1.36;
  
    letter-spacing: normal;
  
    text-align: left;
  
    color: #181f28;
}

.icon-angle-left{
   
    font-size: large;
}
.icon-angle-right{
    font-size: large;
}
.box5{
    width: 10px;

    height: 25px;
  
    margin: 5px 3px 0 48px;
  
    padding: 8px 9.7px 8.5px 10.5px;
  
    border-radius: 4px;
  
    background-color: #f4f4f5;
}
.box4{
    width: 25px;

    height: 25px;
  
    margin: 5px 0 0 3px;
  
    padding: 8px 9.8px 8.5px 10.3px;
  
    border-radius: 4px;
  
    background-color: #f4f4f5;
}